.privacyPolicyTitle{
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 2vw, 3rem);
    line-height: 78px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.privacyPolicySubtitle{
    font-family: 'Karma';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1rem, 1.2vw, 2rem);
    line-height: 35px;
    text-align: center;
}
.privacyPolicyTextTitle{
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 2rem);
    line-height: 78px;
}
.privacyPolicyTextSubtitle{
    font-family: 'Karma';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1rem, 1.2vw, 2rem);
    line-height: 35px;
}