.contactUsTitle{
    font-family: 'Khula';
    font-style: normal;
    font-weight: 800;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.contactUsSubtitle{    
    font-family: 'Khula';
    font-style: normal;
    line-height: 20px;
    font-weight: 300;
    font-size: clamp(0.6rem, 1.5vw, 1.5rem);
    text-align: center;
}
.contactUsTitle{
    font-family: 'Khula';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, 2.8rem);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.contactUsText{
    font-family: 'Karma';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 20px;
    /* or 167% */
    text-align: center;
}
.contactUsBtn{
    text-align: center;
    margin-top: 1vw !important;
}
.marginLeft{
    margin-left: 6vw;
}
.top10vh{
    margin-top: 10vh !important;
}
.top1vw{
    margin-top: 1vw !important;
}
.top20vh{
    margin-top: 20vh !important;
}
.alignRight{
    display: flex;
    justify-content: right;
}
.contactUsSubtitleMobile{
    font-family: 'Khula';
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    font-size: clamp(0.6rem, 1vw, 1rem);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.iconMobile{
    width: 20px;
    height: 20px;
}
.imgMobile{
    width: 20vh;
    height: 20vh;
}
.alignLeft{
    display: flex;
    justify-content: left;
}
.container5{
    width: 100%;
}
.centerAlignText{
    text-align: center;
}
.iconDesktop{
    width: 10px;
    height: 10px;
}
.bottomBar{
    background-image: url('../images//HomeRectangle1.svg');
}